body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}

.quote-font {
    font-family: 'Quicksand', sans-serif;
}

.grey-text {
    color: #b0b0b0;
}

.white-text {
    color: white;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
}

.banner .right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 10rem;
}

.banner .right .quote-one {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    text-align: end;
}

.banner .right .apple-icon {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}

.apple-icon img {
    justify-self: end;
    align-self: flex-end;
    width: 75%;
    height: 40px;
}

.quote-one h1 {
    font-size: 50px;
}

.quote-one h3 {
    justify-self: flex-end;
    font-weight: 200;
    width: 60%;
}

.banner .steve-thinking-image-wrapper {
    width: 100%;
}

.steve-thinking-image-wrapper img {
    margin: 0 auto;
    height: 800px;
    display: block;
}

.quote-two {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 80%;
    margin: 120px auto;
}

.quote-two h1 {
    font-size: 60px;
    text-align: center;
}

.apple-one,
.apple-two {
    width: 75%;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    padding: 0 20px 100px 20px;
    margin: 0 auto;
}

.apple-one > *,
.apple-two > * {
    line-height: 1.5rem;
}

.apple-one > img,
.apple-two > img {
    width: 35%;
    align-self: flex-start;
}

.apple-one .description-wrapper,
.apple-two .description-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.apple-one .description-wrapper img,
.apple-two .description-wrapper img {
    width: 100%;
}
