html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board > .top {
    border-bottom: 5px solid white;
}

.board > .bottom {
    border-top: 5px solid white;
}

.board .middle {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.board .top,
.board .center,
.board .bottom,
.board .box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board .box[disabled='true']:hover {
    cursor: not-allowed;
}

.board .box img {
    height: 80%;
    width: 80%;
    animation-duration: 0.3s;
    animation-name: slidein;
}

.board .box:hover {
    cursor: pointer;
}

.history-controls {
    width: 350px;
    height: 60px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    visibility: hidden;
    animation-duration: 0.3s;
    animation-name: slidein;
}

.history-controls button {
    all: unset;
    border: 2px solid #d8d8d8;
    cursor: pointer;
    height: 100%;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 3px 3px 1px white;
    transition: 0.3s;
    animation-duration: 0.3s;
    animation-name: slidein;
    background-color: black;
}

.history-controls button:active {
    box-shadow: none;
    transform: translateY(5px);
}

.history-controls svg {
    fill: white;
    height: 90%;
}

.history-controls button:disabled svg {
    fill: #d8d8d8;
    height: 100%;
}

.history-controls button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

@keyframes slidein {
    from {
        max-height: 0;
        transform: scale(0);
        opacity: 0;
    }

    to {
        max-height: 100%;
        transform: scale(1);
        opacity: 1;
    }
}
